<p id="notice"><%= notice %></p>
<div class="container">
<div class="cards">

 <% @cocktails.each do |cocktail| %>
 <div class="card">
<div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.path, height: 300, width: 400, crop: :fill if cocktail.photo %>');">
 <!--  <div class="card-category">Popular</div> -->
  <div class="card-category">
    <span><%= cocktail.name%></span>
    </div>
    <!-- <ol><% cocktail.doses.each do |dose| %></ol>
      <li><%= dose.ingredient.name %></li>
      <% end %> -->


</div>
<div class="card-footer">
<%= link_to "#{image_tag("zoom.png", size: "22x22")}".html_safe, cocktail_path(cocktail) %>
</div>


</div>
<% end %>
</div>
</div>

<div style="text-align: center">
<%= link_to 'New Cocktail', new_cocktail_path, class: "btn-yours" %>
</div>
