<p id="notice"><%= notice %></p>

<div class='row'>
 <% @cocktails.each do |cocktail| %>
<div class="col-xs-12 col-md-4">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= asset_path('cocktail.jpeg') %>);">
 <!--  <div class="card-category">Popular</div> -->
  <div class="card-description">
    <h2><%= cocktail.name%></h2>
    <ol><% cocktail.doses.each do |dose| %></ol>
      <li><%= dose.ingredient.name %></li>
      <% end %>
  </div>
</div>
</div>
<% end %>
</div>


<div style="text-align: center">
<%= link_to 'New Cocktail', new_cocktail_path, class: "btn-yours" %>
</div>

